<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Необходимо разрешение получения местоположения для получения прогноза погоды в вашем городе</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSLocalNotificationsUsageDescription</key>
	<string>We&apos;ll use local notifications to keep you updated</string>
</dict>
</plist>
